@Html.Partial("SystemTree")
@section PageJS{
    <script>
        function doClick(event, treeId, treeNode, clickFlag) {
        var id = treeNode.id;
        if (id >= 0)
        {
            $('#classificationName').html(treeNode.name);
            selectApiClassificationID = id;
            var data = { classificationId: id };
            var action = '@Url.Action("APIItem")';
            var replaceID = '#apiItem';
            LoadAjax(replaceID, action, data);
        }
    }
    </script>
}

<div class="panel panel-default" style="overflow:hidden">
    <div class="panel-heading">
        <h2 id="classificationName"></h2>
    </div>
    <div id="apiItem" class="panel-body">
    </div>
</div>